<form action="/adminconsole" method="post" id="adminconsole">
  <h2>Admin Console</h2>

  <label for="username">Enter Question</label>
  <input type="text" value="" name="username" />
  
  <label for="password">Enter Answer 1</label>
  <input type="password" value="" name="password" />

  <label for="password">Enter Answer 2</label>
  <input type="password" value="" name="password" />

  <label for="password">Enter Answer 3</label>
  <input type="password" value="" name="password" />
  
  <label for="password">Enter Answer 4</label>
  <input type="password" value="" name="password" />
  
  <label for="password">Enter Answer 5</label>
  <input type="password" value="" name="password" />
  
  <label for="password">Enter Answer Explanation</label>
  <input type="password" value="" name="password" />
  
  <label for="password">Enter Video Link</label>
  <input type="password" value="" name="password" />
  
  <div class="submit">
    <button>Insert Question into the DB</button>
  </div>
</form>
