<p style="font-size:16px;font-family:Calibri">We are 2 partners wishing to provide innovative and complete end to end technical solutions in an ever growing complex technical landscape... </p>

<br></br>

<p style="font-size:14px;font-family:Calibri">
I am a seasoned professional with extensive experience leading the development and implementation of high-performance mission critical solutions. Proven ability to bring the benefits of IT to solve business issues while delivering applications, infrastructure, costs and mitigating risks. Regularly develop and provide strategic direction to executive leadership on strategic plans and program updates. Collaborates across multiple IT and Business units to align priorities and resource commitments. Consistently exceed customer’s expectations on delivering high profile innovative application development and operations projects resulting in IT simplification and improved availability. Good team player with extraordinary problem solving and trouble-shooting capabilities.</p>

<br></br>

<h3> My partner is ....</h3>